<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botao Dinamico</title>
    <style>
        #myElement{
            width: 200px;
            height: 200px;
            background-color:black ;
            display: none; /*começa oculto */   
                     
        }

        button{
            margin-top: 10px;
        }
    </style>

</head>
<body>
    <script>
        function toggleVisibility() {
          var element = document.getElementById("myElement");
          if (element.style.display === "none") {
            element.style.display = "block";
          } else {
            element.style.display = "none";
          }
        }
      </script>
    
</body>
</html>